<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com.springsource.sts.wizard.templates">
		<template_project
			id="org.springframework.samples.batch.simple" name="Simple Spring Batch Project"
			description="A simple project that shows how to use Spring Batch"
			template_path="template/simple/simple-cli.json"
			zipped_path="template/simple/simple-cli.zip">
		</template_project>
	</extension>
</plugin>
