body {
	padding:2em !important;
	background:url("bodyBg.gif") repeat-x top left #fff;
}

.partsContainer {
	background:#2e2e2e;	
	padding:1em;
	width:500px;
	-webkit-box-shadow: 2px 8px 11px #888;
}

.partsContainer .gridContainer {
	background:#fff;
	height:350px;
	border-top:1px solid #000;
	border-left:1px solid #000;
	
}

/*.partsContainer .gridContainer table {
	width:475px;
}*/

h1 {
	font-family:"Century Gothic", Verdana,Arial,Helvetica,sans-serif;
	width:500px;
	padding:0.5em 0.5em 0 0.5em;
	margin:0;
	color:#fff;
	background:#2e2e2e;
	font-weight:normal;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-box-shadow: 2px 2px 11px #888;
}

.dojoxGrid-row-odd td {
	background:#e8f2ff;
}
